@layer components {
    @media screen {
        .public-page-wrap {
            --wrap-max-width: none;
            --wrap-padding-vertical: var(--btcpay-space-l);
            --wrap-padding-horizontal: var(--btcpay-space-m);
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            max-width: var(--wrap-max-width);
            margin: 0 auto;
            padding: var(--wrap-padding-vertical) var(--wrap-padding-horizontal);
            min-height: 100dvh;
        }
        .tile {
            --tile-padding: 1.5rem;
            --tile-border-radius: var(--btcpay-border-radius-l);
            padding: var(--tile-padding);
            background: var(--btcpay-bg-tile);
            border-radius: var(--tile-border-radius);
            box-shadow: var(--btcpay-box-shadow-lg);
        }
        .tile .buttons {
            display: flex;
            flex-direction: column;
            gap: var(--btcpay-space-m);
        }
        .tile > :last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 400px) {
        .public-page-wrap {
            --wrap-padding-horizontal: 0;
        }
        .tile {
            --tile-padding: 1rem;
            --tile-border-radius: none;
            margin-left: calc(var(--wrap-padding-horizontal) * -1);
            margin-right: calc(var(--wrap-padding-horizontal) * -1);
        }
        #Checkout > main.tile:first-child {
            margin-top: calc(var(--wrap-padding-vertical) * -1);
        }
    }
    .store-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--btcpay-space-s);
    }
    .store-logo {
        --logo-size: 3rem;
        --logo-bg: transparent;
        --logo-radius: 0;
        max-height: var(--logo-size);
        background: var(--logo-bg);
        border-radius: var(--logo-radius);
    }
    .store-name {
        font-size: 1.3rem;
    }
    .store-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--btcpay-space-m);
        margin-top: auto;
        padding: 1.5rem 1.5rem 0;
    }
    .store-footer,
    .store-footer a {
        color: var(--btcpay-body-text-muted);
    }
    a.store-powered-by {
        display: flex;
        align-items: center;
        gap: var(--btcpay-space-s);
        transition-duration: unset;
    }
    a.store-powered-by svg {
        height: 2rem;
        width: 4rem;
    }
    .store-footer a:hover,
    a.store-powered-by:hover {
        color: var(--btcpay-body-text-hover);
    }
    a.store-powered-by:hover .logo-brand-light {
        color: var(--btcpay-brand-secondary);
    }
    a.store-powered-by:hover .logo-brand-medium {
        color: var(--btcpay-brand-primary);
    }
    a.store-powered-by:hover .logo-brand-dark {
        color: var(--btcpay-brand-tertiary);
    }
    .payment-box {
        --qr-size: 256px;
        --icon-size: 64px;
        --icon-border-size: var(--btcpay-space-xs);
        --icon-border-color: var(--btcpay-white);
        max-width: 320px;
        min-width: var(--qr-size);
        margin: 0 auto;
        text-align: center;
    }
    .payment-box .qr-container {
        display: flex;
        min-height: var(--qr-size);
    }
    .payment-box .qr-container svg,
    .payment-box .qr-container img.qr-code {
        border-radius: var(--btcpay-border-radius);
        background: var(--btcpay-white);
        width: 100%;
    }
    .payment-box .qr-container svg {
        padding: var(--btcpay-space-s);
    }
    .payment-box .qr-container img.qr-icon {
        box-sizing: content-box;
        position: absolute;
        width: var(--icon-size);
        border-radius: 50%;
        padding: var(--icon-border-size);
        background: var(--icon-border-color);
    }
    .payment-box .qr-container small {
        display: none;
    }
    .payment-box .input-group {
        align-items: flex-end;
    }
    .payment-box .input-group .form-control-plaintext {
        padding-left: 3px;
        padding-bottom: 0;
        font-weight: var(--btcpay-font-weight-semibold);
    }
    .payment-box .input-group label {
        padding-left: 0;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: var(--btcpay-font-weight-semibold);
    }
    .payment-box .input-group button {
        padding: 0 0 var(--btcpay-space-xs) 0;
        font-weight: var(--btcpay-font-weight-semibold);
    }
    .qr-icon {
        height: 64px;
        width: 64px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .qr-container {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .qr-container svg {
        width: 256px;
        height: 256px;
    }
    .info {
        color: var(--btcpay-neutral-700);
        background-color: var(--btcpay-body-bg);
        border-radius: var(--border-radius);
    }
    .info .expiryTime {
        color: var(--btcpay-body-text);
    }
    .info > div {
        padding: var(--btcpay-space-m);
    }
    .info > div > div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: var(--btcpay-space-xs);
    }
    .info > div > div + div {
        margin-top: var(--btcpay-space-s);
    }
    .info .icon {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--btcpay-info);
    }
    .payment-details dl {
        margin: 0;
    }
    .payment-details-button {
        margin: 0 auto;
        padding: var(--btcpay-space-s);
    }
    #payment .btcpay-pills .btcpay-pill {
        padding: var(--btcpay-space-xs) var(--btcpay-space-m);
    }
    #payment .payment-methods-wrapper:not(:has(.btcpay-pills>*:nth-child(2))) {
        display: none;
    }
    #form > form,
    #result > div {
        display: flex;
        flex-direction: column;
    }
    #result .top .icn .icon {
        display: block;
        width: 3rem;
        height: 3rem;
        margin: .5rem auto 1.5rem;
    }
    #result #sound {
        display: none;
    }
    #result #confetti {
        position: absolute;
        left: 50%;
        top: 2rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    #result #settled .top .icn .icon,
    #result #processing .top .icn .icon {
        color: var(--btcpay-primary);
    }
    #result #unpaid .top .icn .icon {
        color: var(--btcpay-body-text-muted);
    }
    #DefaultLang {
        width: calc(var(--text-width, 110px) + 4rem);
        color: var(--btcpay-body-text-muted);
        background-color: var(--btcpay-body-bg);
        box-shadow: none;
        border: none;
        cursor: pointer;
        font-size: var(--btcpay-body-font-size);
    }
    #DefaultLang:hover {
        color: var(--btcpay-body-text-hover);
    }
    .checkout-modal body {
        background: rgba(var(--btcpay-black-rgb), 0.85);
    }
    .checkout-modal h1,
    .checkout-modal footer a:hover {
        color: var(--btcpay-white);
    }
    .checkout-text {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-size: var(--btcpay-font-size-s);
        line-height: 1.4;
    }
}
