@layer components {
    .btcpay-header {
        color: var(--btcpay-header-text);
        background: var(--btcpay-header-bg);
    }

    #mainMenu {
        --button-width: 40px;
        --button-height: 40px;
        --button-padding: 7px;
        --icon-size: 1.5rem;
        --menu-border: 1px solid var(--btcpay-body-border-light);
        height: var(--header-height);
        z-index: 1031;
    }

    #mainMenuHead {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #mainMenuHead .mainMenuButton {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--button-width);
        height: var(--button-height);
        padding: var(--button-padding);
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        color: var(--btcpay-body-text-muted);
    }

    #mainNav {
        --btcpay-scrollbar-color: var(--btcpay-neutral-400);
        height: calc(100vh - var(--mobile-header-height));
        overflow-y: auto;
        padding-top: var(--btcpay-space-m);
    }

    #mainNav .nav-item .icon {
        width: var(--icon-size);
        height: var(--icon-size);
        margin-right: var(--btcpay-space-xs);
    }

    #mainNav .accordion-button {
        padding: var(--btcpay-space-s) 0;
        text-transform: uppercase;
        color: var(--btcpay-body-text-muted);
        font-weight: var(--btcpay-font-weight-semibold);
    }

    #mainNav .accordion-item {
        border: none;
    }

    #mainNav .navbar-nav > li.nav-item .nav-link {
        display: inline-flex;
        align-items: center;
        font-weight: var(--btcpay-font-weight-semibold);
        color: var(--btcpay-header-link);
        transition-property: color;
        transition-duration: var(--btcpay-transition-duration-fast);
    }

    #mainNav .navbar-nav > li.nav-item .nav-link .icon {
        flex-shrink: 0;
    }

    #mainNav .navbar-nav > li.nav-item-sub {
        padding-left: calc(1.5rem + var(--btcpay-space-xs));
    }

    #mainNav .navbar-nav > li.nav-item .nav-link span {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #mainNav .navbar-nav > li.nav-item a.nav-link:focus,
    #mainNav .navbar-nav > li.nav-item a.nav-link:hover {
        color: var(--btcpay-header-link-accent);
    }

    #mainNav .navbar-nav > li.nav-item a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item a.nav-link.active:focus,
    #mainNav .navbar-nav > li.nav-item a.nav-link.active:hover {
        color: var(--btcpay-header-link-active);
    }

    #mainNavSettings {
        margin-top: auto;
    }

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: inherit;
    }

    #StoreSelector {
        display: flex;
        align-items: center;
        z-index: 2000;
        flex: 1;
    }

    #StoreSelector hr {
        height: 1px;
    }

    #StoreSelectorHome {
        position: relative;
    }

    #StoreSelectorHome .badge {
        position: absolute;
        top: .25rem;
        left: 100%;
        font-size: 9px;
    }

    #StoreSelectorDropdown,
    #StoreSelectorToggle {
        width: 100%;
    }

    #StoreSelectorToggle {
        display: flex;
        align-items: center;
        color: var(--btcpay-header-link);
        background-color: var(--btcpay-header-bg);
    }

    #StoreSelectorToggle.empty-state {
        color: var(--btcpay-body-text-muted);
    }

    #StoreSelectorToggle::after {
        content: none;
    }

    #StoreSelectorToggle,
    #StoreSelectorToggle .logo,
    #StoreSelectorToggle .icon {
        transition: unset;
        transition-property: color, border-color;
        transition-timing-function: ease, ease;
        transition-duration: var(--btcpay-transition-duration-fast), var(--btcpay-transition-duration-fast);
    }

    #StoreSelectorToggle .logo,
    #StoreSelectorToggle .icon {
        --icon-size: 1.5rem;
        max-width: var(--icon-size);
        max-height: var(--icon-size);
        -webkit-transition-duration: 0.05s, var(--btcpay-transition-duration-fast);
    }

    #StoreSelectorToggle .logo,
    #StoreSelectorToggle .icon.icon-nav-store {
        margin-right: var(--btcpay-space-s);
    }

    #StoreSelectorToggle .icon.icon-caret-down {
        margin-left: auto;
        color: var(--btcpay-body-text-muted);
    }

    #StoreSelectorToggle span {
        margin-right: var(--btcpay-space-xs);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #StoreSelectorToggle:hover,
    #StoreSelectorToggle:focus,
    #StoreSelectorToggle:hover .icon,
    #StoreSelectorToggle:focus .icon {
        color: var(--btcpay-header-link-accent);
    }

    #StoreSelectorMenu {
        min-width: 100%;
        overflow-y: auto;
        max-height: calc(100vh - var(--header-height) - var(--btcpay-space-xxl));
        max-height: calc(100dvh - var(--header-height));
    }

    #mainMenuHead .main-logo {
        display: inline-block;
        height: 2rem;
    }

    @media (max-width: 575px) {
        #mainMenuHead .main-logo-custom {
            max-width: 25vw;
        }
        #mainMenuHead .main-logo-btcpay {
            width: 1.125rem;
        }
        #mainMenuHead .main-logo-btcpay .main-logo-btcpay--large {
            display: none;
        }
    }

    @media (min-width: 576px) {
        #mainMenuHead .main-logo-custom {
            max-width: 10.5rem;
        }
        #mainMenuHead .main-logo-btcpay {
            width: 4.625rem;
        }
        #mainMenuHead .main-logo-btcpay .main-logo-btcpay--small {
            display: none;
        }
    }

    .btcpay-theme-switch {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    .btcpay-theme-switch-label {
        font-weight: var(--btcpay-font-weight-semibold);
    }

    .btcpay-theme-switch-themes {
        display: inline-flex;
        gap: var(--btcpay-space-m);
        align-items: center;
    }

    .btcpay-theme-switch-themes button {
        --icon-size: 1.25rem;
        background: none;
        padding: 0;
        border: 0;
        color: var(--btcpay-body-text-muted);
    }

    .btcpay-theme-switch-themes button:hover {
        color: var(--btcpay-body-link);
    }

    .btcpay-theme-switch-themes button svg {
        margin: 0 !important;
    }

    :root:not([data-btcpay-theme]) .btcpay-theme-switch [data-theme="system"],
    :root[data-btcpay-theme="light"] .btcpay-theme-switch [data-theme="light"],
    :root[data-btcpay-theme="dark"] .btcpay-theme-switch [data-theme="dark"] {
        color: var(--btcpay-body-link);
    }

    #Notifications {
        flex: 0 0 var(--button-width);
    }

    #NotificationsBadge {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 1.75em;
    }

    #NotificationsHandle .icon {
        --icon-size: 1.625rem;
        color: var(--btcpay-header-link);
    }

    #NotificationsHandle:hover .icon {
        color: var(--btcpay-header-link-accent);
    }

    #NotificationsDropdown {
        border-radius: var(--btcpay-border-radius-l);
        background-color: var(--btcpay-body-bg);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 16%);
        padding: 0;
        z-index: 2000;
        top: var(--btcpay-space-xs);
        border: 1px solid var(--btcpay-body-border-medium);
    }

    #NotificationsList .icon {
        --icon-size: 1.5rem;
    }

    #SectionNav {
        --border-size: 2px;
        margin-bottom: var(--btcpay-space-l);
        border-bottom: var(--border-size) solid var(--btcpay-body-border-light);
    }

    #SectionNav .nav {
        margin-bottom: calc(var(--border-size) * -1);
    }

    #SectionNav .nav-link {
        color: var(--btcpay-nav-link);
        border-bottom: var(--border-size) solid transparent;
        padding: var(--btcpay-space-m) 0;
        font-weight: var(--btcpay-font-weight-semibold);
        white-space: nowrap;
    }

    #SectionNav .nav-link:last-child {
        margin-right: 0;
    }

    #SectionNav .nav-link:hover {
        color: var(--btcpay-nav-link-accent);
    }

    #SectionNav .nav-link.active {
        color: var(--btcpay-nav-link-active);
        border-bottom-color: var(--btcpay-nav-border-active);
        background: var(--btcpay-nav-bg-active);
    }

    .btcpay-footer {
        font-size: var(--btcpay-font-size-s);
        overflow: hidden;
        padding: 0 var(--content-padding-horizontal) 1rem;
        color: var(--btcpay-footer-text);
        background: var(--btcpay-footer-bg);
    }

    .btcpay-footer a,
    .btcpay-footer button {
        display: flex;
        align-items: center;
        gap: var(--btcpay-space-s);
        color: var(--btcpay-footer-link);
        font-size: var(--btcpay-font-size-s);
        text-decoration: none;
        padding: 0;
    }

    .btcpay-footer a:focus,
    .btcpay-footer a:hover,
    .btcpay-footer button:focus,
    .btcpay-footer button:hover {
        color: var(--btcpay-footer-link-accent);
    }

    .btcpay-footer [data-clipboard-hover]::before {
        top: .125rem;
    }

    #StatusUpdates {
        position: fixed;
        top: var(--content-padding-top);
        right: var(--content-padding-horizontal);
    }

    #StatusUpdates .blazor-status {
        width: 16rem;
        border-color: var(--btcpay-border-color);
    }

    #StatusUpdates .blazor-status__title {
        color: var(--btcpay-body-text);
    }

    #StatusUpdates .blazor-status__body {
        padding-left: 2.45rem;
    }

    @media (max-width: 991px) {
        #mainMenu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            border-bottom: var(--menu-border);
        }
        #mainMenuHead {
            padding: var(--btcpay-space-s) var(--btcpay-space-m);
        }
        #mainNav {
            position: fixed;
            top: var(--mobile-header-height);
            bottom: 0;
            left: 0;
            width: var(--sidebar-width);
            z-index: 1045;
            border-right: var(--menu-border);
            color: var(--btcpay-body-text);
            background-color: inherit;
            background-clip: padding-box;
            outline: 0;
            transform: translateX(-100%);
            transition: transform var(--btcpay-transition-duration-fast) ease-in-out;
            height: calc(100vh - var(--mobile-header-height));
            height: 100dvh;
            padding-bottom: var(--mobile-header-height);
        }
        #mainNav.show {
            transform: none;
        }
        #StoreSelector {
            margin: 0 auto;
            max-width: 60vw;
        }
        #Notifications {
            margin-left: var(--btcpay-space-s);
        }
        #mainMenuToggle {
            --line-thickness: 2px;
            --transition-easing: ease-in-out;
            --transition-duration: var(--btcpay-transition-duration-fast);
            flex: 0 0 var(--button-width);
            margin-right: var(--btcpay-space-s);
            margin-left: calc(var(--button-padding) * -1);
        }
        #mainMenuToggle span {
            position: relative;
            display: inline-block;
            width: calc(var(--button-width) - var(--button-padding) * 2);
            height: calc(var(--button-height) - (var(--button-padding) * 2) - (var(--line-thickness) * 4));
            border-top: var(--line-thickness) solid;
            border-bottom: var(--line-thickness) solid;
            color: var(--btcpay-body-text-muted);
            font-size: 0;
            transition: all var(--transition-duration) var(--transition-easing);
        }
        #mainMenuToggle span:before,
        #mainMenuToggle span:after {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: var(--line-thickness);
            top: 50%;
            left: 50%;
            background: currentColor;
            transform: translate(-50%, -50%);
            transition: transform var(--transition-duration) var(--transition-easing);
        }
        #mainMenuToggle:hover span {
            color: var(--btcpay-header-text);
        }
        #mainMenuToggle[aria-expanded="true"] span {
            border-color: transparent;
        }
        #mainMenuToggle[aria-expanded="true"] span:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        #mainMenuToggle[aria-expanded="true"] span:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        #SectionNav {
            --scroll-indicator-spacing: var(--btcpay-space-m);
            position: relative;
        }
        #SectionNav .nav {
            --btcpay-scrollbar-width: none;
            --btcpay-scrollbar-color: transparent;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin-left: calc(var(--scroll-indicator-spacing) * -1);
            margin-right: calc(var(--scroll-indicator-spacing) * -1);
            padding: 0 var(--scroll-indicator-spacing);
        }
        #SectionNav .nav::-webkit-scrollbar {
            display: none;
        }
        #SectionNav:before,
        #SectionNav:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: calc(var(--border-size) * -1);
            width: var(--btcpay-space-m);
        }
        #SectionNav:before {
            background-image: linear-gradient(to right, var(--btcpay-body-bg), rgba(var(--btcpay-body-bg-rgb), 0));
            left: calc(var(--scroll-indicator-spacing) * -1);
        }
        #SectionNav:after {
            background-image: linear-gradient(to left, var(--btcpay-body-bg), rgba(var(--btcpay-body-bg-rgb), 0));
            right: calc(var(--scroll-indicator-spacing) * -1);
        }
        #SectionNav .nav-link {
            margin-right: 1.5rem;
            border-bottom-color: var(--btcpay-body-border-light);
        }
    }

    @media (min-width: 992px) {
        #mainMenu {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: var(--sidebar-width);
            height: 100vh;
            border-right: var(--menu-border);
        }
        #mainMenuHead {
            flex-wrap: wrap;
            padding: var(--btcpay-space-m) 1.5rem;
        }
        #Notifications {
            order: 1;
            margin-left: auto;
        }
        #StoreSelector {
            order: 2;
            margin-top: var(--btcpay-space-m);
            min-width: 100%;
        }
        #mainMenuToggle {
            display: none !important;
        }
        #NotificationsDropdown {
            inset: calc(var(--button-height) * -1 - var(--btcpay-space-s)) auto auto calc(var(--button-width) + var(--btcpay-space-s)) !important;
            width: 400px;
        }
        #mainContent {
            margin-left: var(--sidebar-width);
        }
        #mainContent pre {
            max-width: calc(100vw - var(--sidebar-width) - (2 * var(--btcpay-space-xl)) - 1rem);
        }
        #mainContent > section {
            margin: 0;
            max-width: none;
        }
        #mainContent > section .w-100-fixed {
            width: calc(100vw - var(--sidebar-width) - var(--btcpay-scrollbar-width) - var(--content-padding-horizontal) * 2);
        }
        #mainContent > section > h2 {
            margin-top: var(--btcpay-space-xs);
        }
        #SectionNav .nav {
            margin-top: calc(var(--btcpay-space-m) * -1);
            border-bottom: var(--border-size) solid var(--btcpay-body-border-light);
        }
        #SectionNav .nav-link {
            margin-top: var(--btcpay-space-s);
            margin-right: var(--btcpay-space-l);
            margin-bottom: calc(var(--border-size) * -1);
        }
    }

    @media (min-width: 992px) and (min-height: 800px) {
        #StatusUpdates {
            top: 1.25rem;
        }
    }

    @media (max-width: 449px) {
        #StoreSelector {
            max-width: 40vw;
            flex-shrink: 1;
        }
    }

    .info-note {
        display: inline-flex;
        align-items: baseline;
        gap: var(--btcpay-space-s);
    }

    .info-note .icon {
        position: relative;
        top: var(--btcpay-space-xs);
    }

    .icon.icon-info {
        position: relative;
        top: -.05em;
        color: var(--btcpay-neutral-500);
    }

    .icon.icon-info:hover {
        color: var(--btcpay-primary);
    }

    h2 .icon.icon-info {
        width: 1.2rem;
        height: 1.2rem;
        top: -.0125em;
    }

    #mainContent section p {
        max-width: 46em;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--btcpay-space-l);
    }

    .services-list .service {
        --service-width: 100px;
        flex: 0 0 var(--service-width);
        text-align: center;
    }

    .services-list .service img {
        width: var(--service-width);
        height: var(--service-width);
    }

    .services-list .service h6 {
        margin: var(--btcpay-space-m) 0 0 0;
    }

    .invoice-details-row {
        background: var(--btcpay-bg-tile);
    }

    .invoice-details a {
        overflow-wrap: break-word;
    }

    #qrCode {
        padding: 10px;
        background: var(--btcpay-white);
        display: inline-block;
    }

    .pin-button {
        height: 135px;
        margin-top: 20px;
        background-color: var(--btcpay-white);
        border: solid var(--btcpay-neutral-300) 4px;
        cursor: pointer;
    }

    .pin-button:hover {
        background-color: var(--btcpay-neutral-300);
    }
}
