@layer components {
    .btcpay-footer .flex-xl-row { flex-direction: column !important; }
    .btcpay-footer .justify-content-xl-start { justify-content: center !important; }
    .btcpay-footer {
        font-size: var(--btcpay-font-size-s);
        overflow: hidden;
        padding: 0 var(--content-padding-horizontal, 1rem) 1rem;
        color: var(--btcpay-footer-text);
        background: var(--btcpay-footer-bg);
    }
    .btcpay-footer a,
    .btcpay-footer button {
        display: flex;
        align-items: center;
        gap: var(--btcpay-space-s);
        color: var(--btcpay-footer-link);
        font-size: var(--btcpay-font-size-s);
        text-decoration: none;
        padding: 0;
    }
    .btcpay-footer a:focus,
    .btcpay-footer a:hover,
    .btcpay-footer button:focus,
    .btcpay-footer button:hover {
        color: var(--btcpay-footer-link-accent);
    }
    .list-group {
        --btcpay-list-group-color: var(--btcpay-body-text);
        --btcpay-list-group-bg: var(--btcpay-body-bg);
        --btcpay-list-group-border-color: var(--btcpay-body-border-medium);
        --btcpay-list-group-border-width: var(--btcpay-border-width);
        --btcpay-list-group-border-radius: var(--btcpay-border-radius);
        --btcpay-list-group-item-padding-x: 1rem;
        --btcpay-list-group-item-padding-y: 0.5rem;
        --btcpay-list-group-action-hover-bg: var(--btcpay-body-bg-hover);
        --btcpay-list-group-active-bg: var(--btcpay-body-bg-medium);
        --btcpay-list-group-active-border-color: var(--btcpay-body-border-medium);
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: var(--btcpay-list-group-border-radius);
    }
    .list-group-item-action {
        width: 100%;
        color: var(--btcpay-list-group-color);
        text-align: inherit;
    }
    .list-group-item-action:hover, .list-group-item-action:focus {
        z-index: 1;
        text-decoration: none;
        background-color: var(--btcpay-list-group-action-hover-bg);
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: var(--btcpay-list-group-item-padding-y) var(--btcpay-list-group-item-padding-x);
        color: var(--btcpay-list-group-color);
        background-color: var(--btcpay-list-group-bg);
        border: var(--btcpay-list-group-border-width) solid var(--btcpay-list-group-border-color);
    }
    .list-group-item:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .list-group-item:last-child {
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
    }
    .list-group-item.active {
        z-index: 2;
        color: var(--btcpay-body-text);
        background-color: var(--btcpay-list-group-active-bg);
        border-color: var(--btcpay-list-group-active-border-color);
    }
    .list-group-item + .list-group-item {
        border-top-width: 0;
    }
    .list-group-item + .list-group-item.active {
        margin-top: calc(-1 * var(--btcpay-list-group-border-width));
        border-top-width: var(--btcpay-list-group-border-width);
    }
    .btcpay-list-select {
        display: flex;
        flex-wrap: wrap;
        gap: var(--btcpay-space-s);
    }
    .btcpay-list-select > input {
        display: none;
    }
    .btcpay-list-select-item {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 45%;
        align-items: center;
        padding: .75rem var(--btcpay-space-s);
        cursor: pointer;
    }
    label.btcpay-list-select-item {
        border: 1px solid var(--btcpay-form-border);
        background-color: var(--btcpay-form-bg);
        border-radius: var(--btcpay-border-radius);
        transition: border-color 0.15s ease-in-out;
    }
    label.btcpay-list-select-item:hover {
        border-color: var(--btcpay-form-border-hover);
        background-color: var(--btcpay-form-bg-hover);
    }
    .btcpay-list-select-item .icon {
        --icon-size: 1.5rem;
        margin: 0 var(--btcpay-space-s);
    }
    input:checked + label.btcpay-list-select-item {
        border-color: var(--btcpay-form-border-focus);
    }
    .btcpay-list-select-item .note {
        color: var(--btcpay-body-text-muted);
        flex-basis: 100%;
        margin-left: 2.5rem;
    }
    .payment-box {
        --qr-size: 256px;
        --icon-size: 64px;
        --icon-border-size: var(--btcpay-space-xs);
        --icon-border-color: var(--btcpay-white);
        max-width: 320px;
        min-width: var(--qr-size);
        margin: 0 auto;
        text-align: center;
    }
    .payment-box .qr-container {
        display: flex;
        min-height: var(--qr-size);
    }
    .payment-box .qr-container svg {
        border-radius: var(--btcpay-border-radius);
        background: var(--btcpay-white);
        width: 100%;
        padding: var(--btcpay-space-s);
    }
    .payment-box .qr-container img.qr-icon {
        box-sizing: content-box;
        position: absolute;
        width: var(--icon-size);
        border-radius: 50%;
        padding: var(--icon-border-size);
        background: var(--icon-border-color);
    }
    .payment-box .qr-container small {
        display: none;
    }
    .payment-box .input-group {
        align-items: flex-end;
    }
    .payment-box .input-group .form-control-plaintext {
        padding-left: 3px;
        padding-bottom: 0;
        font-weight: var(--btcpay-font-weight-semibold);
    }
    .payment-box .input-group label {
        padding-left: 0;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: var(--btcpay-font-weight-semibold);
    }
    .payment-box .input-group button {
        padding: 0 0 var(--btcpay-space-xs) 0;
        font-weight: var(--btcpay-font-weight-semibold);
    }
    .qr-icon {
        height: 64px;
        width: 64px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .qr-container {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .qr-container svg {
        width: 256px;
        height: 256px;
    }
    .truncate-center {
        display: inline-flex;
        align-items: center;
        gap: var(--btcpay-space-s);
        max-width: 100%;
    }
    .truncate-center--elastic .truncate-center-start {
        flex: 0 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .truncate-center-end,
    .truncate-center-start {
        white-space: nowrap;
    }
    .truncate-center-id {
        font-family: var(--btcpay-font-monospace);
        font-size: .875em;
    }
    .truncate-center-text {
        word-wrap: break-word;
    }
    .truncate-center a,
    .truncate-center button {
        line-height: 1;
    }
    .truncate-center-truncated {
        text-align: left;
        display: inline-flex;
        max-width: 100%;
    }
    .truncate-center button.btn .icon {
        --icon-size: 1em;
    }
    .truncate-center--elastic .truncate-center-truncated {
        max-width: 100%;
    }
    .truncate-center--elastic.truncate-center--copy .truncate-center-truncated {
        max-width: calc(100% - 2em);
    }
    .truncate-center.form-control-plaintext {
        padding-right: 3px;
    }
    .truncate-center.form-control-plaintext .icon {
        --icon-size: 1.25em;
    }
    @media screen {
        .truncate-center-id {
            background: var(--btcpay-neutral-100);
            border: 1px solid var(--btcpay-neutral-200);
            border-radius: var(--btcpay-border-radius-l);
            padding: var(--btcpay-space-xs) var(--btcpay-space-s);
        }
        .truncate-center-text {
            color: transparent;
            position: absolute;
            pointer-events: none;
        }
    }
}
